[submodule "engines/lstm-engine"]
	path = engines/lstm-engine
	url = https://github.com/nightswall/LSTM-engine.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/nightswall/infrastucture.git
[submodule "archive"]
	path = archive
	url = https://github.com/nightswall/archive.git
[submodule "simulations/pypsa-simulations"]
	path = simulations/pypsa-simulations
	url = https://github.com/nightswall/PyPSA-Simulations.git
[submodule "simulations/pi-emulated-simulator"]
	path = simulations/pi-emulated-simulator
	url = https://github.com/mohamed9974/rpi-os-custom-image-with-sensors.git
[submodule "engines/network-engine"]
	path = engines/network-engine
	url = https://github.com/nightswall/Network-Engine.git
