[submodule "lstm-engine"]
	path = lstm-engine
	url = https://gitlab.ceng.metu.edu.tr/group-17/lstm-engine.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://gitlab.ceng.metu.edu.tr/group-17/infrastructure.git
[submodule "archive"]
	path = archive
	url = https://gitlab.ceng.metu.edu.tr/group-17/archive.git
[submodule "network-engine"]
	path = network-engine
	url = https://gitlab.ceng.metu.edu.tr/group-17/network-engine
[submodule "simulations/pypsa-simulations"]
	path = simulations/pypsa-simulations
	url = https://gitlab.ceng.metu.edu.tr/group-17/simulations.git
[submodule "simulations/network-simulations"]
	path = simulations/network-simulations
	url = https://gitlab.ceng.metu.edu.tr/group-17/network-simulations.git
[submodule "simulations/pi-emulated-simulator"]
	path = simulations/pi-emulated-simulator
	url = https://gitlab.ceng.metu.edu.tr/group-17/pi-emulated-simulator.git
